@page "/"
@using MeetupWebApp.Features.Events.Shared
@inject ViewEventService ViewEventService

<PageTitle>Explore Meetups</PageTitle>

@*View all events in table*@

@if (Events is not null && Events.Count > 0)
{
    <div class="card shadow-sm my-4">
        <div class="card-body">

            <h4 class="mb-3">Meetups</h4>

            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Event</th>
                        <th>Category</th>
                        <th>Begin</th>
                        <th>End</th>
                        <th>Capacity</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var Event in Events)
                    {
                        <tr>
                           
                                <td class="text-center">
                                    <a href="@($"/events/{Event.Id}/edit")">
                                        <img src="@Event.ImageUrl"
                                             class="img-fluid rounded"
                                             style="width:150px; height:90px; object-fit:cover; border: 1px solid #ddd;" />

                                        <div class="mt-2 fw-semibold">@Event.Title</div>
                                    </a>
                                </td>

                            <td>@Event.Category</td>

                            <td>
                                <div>@Event.BeginDate.ToShortDateString()</div>
                                <small class="text-muted">@Event.BeginTime</small>
                            </td>

                            <td>
                                <div>@Event.EndDate.ToShortDateString()</div>
                                <small class="text-muted">@Event.EndTime</small>
                            </td>

                            <td>
                                @(Event.Capacity == 0
                                                        ? "Unlimited"
                                                        : Event.Capacity.ToString())
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}


<br />

<a href="/event/create" class="btn btn-primary">Create a new Meetup</a>

@code {

    [PersistentState(AllowUpdates = true, RestoreBehavior = RestoreBehavior.SkipLastSnapshot)]
    public List<EventViewModel>? Events { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        if(Events is null)
        {
            Events = await ViewEventService.GetEventsAsync();
        }
    }
}
