@page "/org/{OrgId:int}/leave-review"
@using MeetupWebApp.Data.Entities
@inject LeaveOrganizerReviewService LeaveOrganizerReviewService
@rendermode InteractiveServer

<h3>Leave a Review For: @Organizer?.Username</h3>

<EditForm Model="organizerReview" OnValidSubmit="@HandleReviewSubmission">
    <DataAnnotationsValidator />
    <ValidationSummary class="alert alert-danger" />

    <div class="mb-3">
        <label for="rating" class="form-label d-block">Set Rating:</label>

        <div id="rating" class="d-flex align-items-center">
            @for (int i = 1; i <= 5; i++)
            {
                int starIndex = i;
                <span class="star @(i <= organizerReview.Rating ? "selected" : "") @(i <= HoverRating ? "hovered" : "")"
                      @onclick="() => SetRating(starIndex)"
                      @onmouseover="() => OnSetOver(starIndex)"
                      @onmouseout="OnStarMouseOut">
                    &#9733;
                </span>
            }
            <ValidationMessage For="@(() => organizerReview.Rating)" class="text-danger" />
        </div>
    </div>

    @* collect review text *@
    <div class="mb-3">
        <label for="reviewText" class="form-label">Your Review (Optional):</label>
        <InputTextArea id="reviewText"
                       class="form-control"
                       @bind-Value="organizerReview.Comment"
                       rows="5" placeholder="Share your thoughts about the organizer." />
        <ValidationMessage For="@(() => organizerReview.Comment)" class="text-danger" />
    </div>

    <button type="submit" class="btn btn-primary btn-lg">
        Submit Review
    </button>
</EditForm>

@code {
    [Parameter]
    public int OrgId { get; set; }
    public User? Organizer;
    public OrganizerReview organizerReview = new OrganizerReview();
    public int HoverRating { get; set; } = 0;

    protected override async Task OnParametersSetAsync()
    {
        if(OrgId > 0)
        {
            Organizer = await LeaveOrganizerReviewService.GetOrganizerByIdAsync(OrgId);
        }
    }

    public async Task HandleReviewSubmission()
    {

    }

    public void SetRating(int index)
    {
        organizerReview.Rating = index;
        HoverRating = index;
    }

    public void OnSetOver(int index)
    {
        HoverRating = index;
    }

    public void OnStarMouseOut()
    {
        HoverRating = organizerReview.Rating;
    }

}
