@using MeetupWebApp.Shared.Enums
@using MeetupWebApp.Shared.ViewModels
@inject SharedHelper SharedHelper

@if (ErrorMessageFragment is not null)
{
    @ErrorMessageFragment
}

@if(EventViewModel is not null)
{
    <EditForm Model="EventViewModel" OnValidSubmit="Save" >
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <AntiforgeryToken></AntiforgeryToken>

        <div class="form-group">
            <label for="Title">Title</label>
            <InputText id="Title" class="form-control" @bind-Value="EventViewModel.Title"></InputText>
            <ValidationMessage For="@(() => EventViewModel.Title)"></ValidationMessage>
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <InputTextArea id="Description" class="form-control" @bind-Value="EventViewModel.Description" rows="10"></InputTextArea>
            <ValidationMessage For="@(() => EventViewModel.Description)"></ValidationMessage>
        </div>

        <div class="form-group">
            <label for="BeginDate">Begin Date</label>
            <InputDate id="BeginDate" class="form-control" @bind-Value="EventViewModel.BeginDate"></InputDate>
            <ValidationMessage For="@(() => EventViewModel.BeginDate)"></ValidationMessage>
        </div>

        <div class="form-group">
            <label for="BeginTime">Begin Time</label>
            <input type="time" id="BeginTime" class="form-control" @bind-value="EventViewModel.BeginTime"></input>
            <ValidationMessage For="@(() => EventViewModel.BeginTime)"></ValidationMessage>
        </div>

        <div class="form-group">
            <label for="EndDate">End Date</label>
            <InputDate id="EndDate" class="form-control" @bind-Value="EventViewModel.EndDate"></InputDate>
            <ValidationMessage For="@(() => EventViewModel.EndDate)"></ValidationMessage>
        </div>

        <div class="form-group">
            <label for="EndTime">End Time</label>
            <input type="time" id="EndTime" class="form-control" @bind-value="EventViewModel.EndTime"></input>
            <ValidationMessage For="@(() => EventViewModel.EndTime)"></ValidationMessage>
        </div>

        <div class="form-group">
            <label for="Location">Capacity</label>
            <InputNumber id="Capacity" class="form-control" @bind-Value="EventViewModel.Capacity"></InputNumber>
            <ValidationMessage For="@(() => EventViewModel.Capacity)"></ValidationMessage>
        </div>

        <div class="form-group">
            <label for="Category">Category</label>
            <InputSelect id="Category" class="form-control" @bind-Value="EventViewModel.Category">
                <option value="" selected>Select a Category</option>
                @foreach (var category in SharedHelper.GetCategories())
                {
                    <option value="@category">@category</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => EventViewModel.Category)"></ValidationMessage>
        </div>

        @if (EventViewModel.Category == EventCategoriesEnum.InPerson.ToString())
        {
            EventViewModel.EventLink = string.Empty;

            <div class="form-group">
                <label for="Location">Venue Address</label>
                <InputText id="Location" class="form-control" @bind-Value="EventViewModel.Location"></InputText>
                <ValidationMessage For="@(() => EventViewModel.Location)"></ValidationMessage>
            </div>
        }
        else if (EventViewModel.Category == EventCategoriesEnum.Online.ToString())
        {
            EventViewModel.Location = string.Empty;

            <div class="form-group">
                <label for="MeetupLink">Meetup Link</label>
                <InputText id="MeetupLink" class="form-control" @bind-Value="EventViewModel.EventLink"></InputText>
                <ValidationMessage For="@(() => EventViewModel.EventLink)"></ValidationMessage>
            </div>
        }


        <div class="form-group">
            <label>
                <InputCheckbox class="form-check-input" @bind-Value="EventViewModel.HasCost"></InputCheckbox>
                This event requires a ticket purchase
            </label>
        </div>

        @if (EventViewModel.HasCost)
        {
            <div class="form-group">
                <label for="TicketPrice">Ticket Price ($)</label>
                <InputNumber id="TicketPrice" class="form-control" @bind-Value="EventViewModel.TicketPrice"></InputNumber>
                <ValidationMessage For="@(() => EventViewModel.TicketPrice)"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="Refundable">Refundable?</label>
                <InputCheckbox id="Refundable" class="form-check-input" @bind-Value="EventViewModel.Refundable"></InputCheckbox>
                <ValidationMessage For="@(() => EventViewModel.Refundable)"></ValidationMessage>
            </div>
        }

        <br />
        <div class="form-group">
            <label for="CoverImage">Cover Image</label>
            <InputFile id="CoverImage" class="form-control" OnChange="HandleImageUpload" accept=".png, .jpg, .jpeg"></InputFile>
            <ValidationMessage For="@(() => EventViewModel.ImageUrl)"></ValidationMessage>
        </div>
        <br />
        @if (EventViewModel.ImageUrl != null)
        {
            <img src="@EventViewModel.ImageUrl" width="300" height="169" alt="Cover Image" class="img-thumbnail" />
        }
        <br />
        @if (ErrorMessageFragment != null)
        {
            @ErrorMessageFragment
        }
        <ValidationSummary></ValidationSummary>
        <br />
        
            @if (EventViewModel.Id > 0)
            {
                <button type="submit" class="btn btn-primary">
                    <text>Update</text>
                </button>

                @if(ExtraButtons is not null)
                {
                    @ExtraButtons
                }
            }
            else
            {
                 <button type="submit" class="btn btn-primary">
                    <text>Create</text>
                 </button>
            }
        &nbsp;
        <NavLink class="btn btn-secondary" href="/org/events">Cancel</NavLink>
    </EditForm>


}

@code
{
    [Parameter]
    public EventViewModel EventViewModel { get; set; } = new();

    [Parameter]
    public EventCallback<EventViewModel> OnSave { get; set; }

    [Parameter]
    public EventCallback<string> OnError { get; set; }

    [Parameter]
    public RenderFragment ErrorMessageFragment { get; set; } = null!;

    [Parameter]
    public RenderFragment? ExtraButtons { get; set; }



    public async Task Save()
    {
        await OnSave.InvokeAsync(EventViewModel);
    }


    public async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        if (e is null)
        {
            await OnError.InvokeAsync("No Image Uploaded");
            return;
        }


        if (e.File.Size > (5 * 1024 * 1024))
        {
            await OnError.InvokeAsync("Image too big, Maximum 5 MB");
            return;
        }

        EventViewModel.ImageFile = e.File;
        StateHasChanged();

       try
        { 
            //define a file name and file path
            string FileName = Guid.NewGuid().ToString() + Path.GetExtension(e.File.Name);
            string FilePath = Path.Combine("wwwroot", "images", "events", $"{FileName}");

            //Resize the image and Save it
            using var filestream = EventViewModel.ImageFile.OpenReadStream(5242880);
            using var image = await Image.LoadAsync(filestream);

            image.Mutate(x => x.Resize(300, 169));

            var filepathstream = new FileStream(FilePath, FileMode.Create);
            image.SaveAsPng(filepathstream);

            // Set the Image Url
            EventViewModel.ImageUrl = $"/images/events/{FileName}";

       }
        catch (Exception ex)
        {            
            await OnError.InvokeAsync("Server Error, please try again and upload another cover image. ");
        }
    }
}