@page "/your-meetups/{orgId:int}"
@using MeetupWebApp.Shared.ViewModels
@using System.Collections
@inject ViewOrganizerMeetupsService ViewOrganizerMeetupsService
@attribute [Authorize("SameUser")]

<PageTitle>Your Meetups</PageTitle>
<h3>Your Current Meetups</h3>

@if (currentMeetups is not null && currentMeetups.Count > 0)
{

    //View meetups as list in a table with modern bootstrap
    @foreach (var ev in currentMeetups)
    {
        var eventImage = ev.ImageUrl;
        if (string.IsNullOrWhiteSpace(eventImage))
        {
            eventImage = "/images/image-placeholder.jpg";
        }
    <div class="border p-3 mb-3 d-flex align-items-center">
        <!-- Image -->
        <a href="/events/@ev.Id">
            <div class="me-3">
                <img src="@eventImage" alt="Product Image" class="img-thumbnail" 
                    style="width:120px; height:auto; object-fit: cover;">
            </div>
        </a>

        <!-- Details -->
        <div class="flex-grow-1">
            <a href="/events/@ev.Id" class="text-decoration-none text-dark">
                <h5>@ev.Title</h5>
            </a>
            <p class="mt-1 mb-0 text-muted">@($"{ev.BeginDate:ddd MMM d} - {@ev.BeginTime:h:mm tt}".ToUpper())</p>
        </div>
       </div>

    }
}
else
{
    <div class="alert alert-info" role="alert">
        No Current meetups found for your organization.
    </div>
}

<hr />

<h3>Your Past Meetups</h3>

@if(pastMeetups is not null && pastMeetups.Count > 0)
{
    <h3>Your Past Meetups</h3>

    @foreach (var ev in pastMeetups)
    {
        var eventImage = ev.ImageUrl;
        if (string.IsNullOrWhiteSpace(eventImage))
        {
            eventImage = "/images/image-placeholder.jpg";
        }
        <div class="border p-3 mb-3 d-flex align-items-center">
            <!-- Image -->
            <a href="/events/@ev.Id">
                <div class="me-3">
                    <img src="@eventImage" alt="Product Image" class="img-thumbnail"
                            style="width:120px; height:auto; object-fit: cover;">
                </div>
            </a>

            <!-- Details -->
            <div class="flex-grow-1">
                <a href="/events/@ev.Id" class="text-decoration-none text-dark">
                    <h5>@ev.Title</h5>
                </a>
                <p class="mt-1 mb-0 text-muted">@($"{ev.BeginDate:ddd MMM d} - {@ev.BeginTime:h:mm tt}".ToUpper())</p>
            </div>
        </div>

    }


}
else
{
    <div class="alert alert-info" role="alert">
        No Past meetups found for your organization.
    </div>
}

@if(currentMeetups is null && (currentMeetups?.Count??0) == 0 && pastMeetups is null && (pastMeetups?.Count?? 0) == 0)
{
    <div class="alert alert-info" role="alert">
        No meetups found for your organization.
    </div>
}

@code {
    [Parameter]
    public int OrgId { get; set; }

    public List<EventViewModel>? meetups;
    public List<EventViewModel>? pastMeetups;
    public List<EventViewModel>? currentMeetups;

    protected override async Task OnParametersSetAsync()
    {
        var now = DateTime.Now;
        if (OrgId > 0)
        {
            meetups = await ViewOrganizerMeetupsService.GetMeetupsAsync(OrgId);

            pastMeetups = meetups.Where(x => (x.EndDate < DateOnly.FromDateTime(now)) || 
                        (x.EndDate == DateOnly.FromDateTime(now) && x.EndTime <= TimeOnly.FromDateTime(now))).ToList();

            currentMeetups = meetups.Where(x => (x.EndDate > DateOnly.FromDateTime(now)) || 
                        (x.EndDate == DateOnly.FromDateTime(now) && x.EndTime > TimeOnly.FromDateTime(now))).ToList();
        }
    }
}
